Given the new excel file with only relevant information, this shows how the multiple sheets are concatenated into one and general cleaning to make the data more consistent and useable.

Before this process, I added consistent column names to all of the sheets in Excel so that they will concatenate correctly.

In [1]:
import pandas as pd

In [2]:
#read in all excel sheets as an ordered dictionary of dataframes
dfList = pd.read_excel('flightsched-openpyxl.xlsx', sheet_name = None)

In [3]:
#check length to verify all sheets have been read
len(dfList)

2720

In [4]:
#merge dataFrames vertically, based on columns
dfConcat = pd.concat(pd.read_excel('flightsched-openpyxl.xlsx', sort=False, sheet_name=None))

In [5]:
#display current dataFrame
dfConcat

                                                         Airport StartDate  \
Table 100  0   To  Albany (ABY)\nSouthwest Georgia Regional A...     Mar-2
           1                                                 NaN       NaN
           2                                                 NaN     Mar-3
           3                                                 NaN       NaN
           4                                                 NaN         -
           5                                                 NaN       NaN
           6                                                 NaN     Apr-2
           7                                                 NaN       NaN
           8                                                 NaN     Apr-6
           9                                                 NaN       NaN
           10                                                NaN     Apr-2
           11                                                NaN       NaN
           12                                                NaN     Mar-3
           13                                                NaN       NaN
           14                                                NaN         -
           15                                                NaN       NaN
           16                                                NaN     Apr-6
           17                                                NaN       NaN
           18                                                NaN     Mar-2
           19                                                NaN       NaN
           20                                                NaN     Mar-3
           21                                                NaN       NaN
           22                                                NaN     Apr-2
           23                                                NaN       NaN
           24                                                NaN         -
           25                                                NaN       NaN
Table 1000 0        To  Tampa (TPA)\nTampa International Airport     Mar-2
           1                                                 NaN         -
           2                                                 NaN     Apr-6
           3                                                 NaN     Apr-2
...                                                          ...       ...
Table 996  2                                                 NaN     Mar-3
           3                                                 NaN     Apr-6
           4                                                 NaN     Apr-2
           5                                                 NaN     Mar-5
           6                                                 NaN     Apr-4
           7                                                 NaN     Mar-2
           8                                                 NaN     Mar-3
           9                                                 NaN    Mar-12
Table 997  0   To  San Francisco (SFO)\nSan Francisco Interna...     Mar-3
           1                                                 NaN     Mar-2
           2                                                 NaN         -
           3                                                 NaN     Apr-6
           4                                                 NaN     Apr-2
Table 998  0   To  Seattle (SEA)\nSeattle-Tacoma Internationa...     Apr-6
           1                                                 NaN     Mar-2
           2                                                 NaN     Mar-4
           3                                                 NaN     Apr-2
           4                                                 NaN         -
Table 999  0   To  St Louis (STL)\nLambert-St Louis Internati...     Mar-4
           1                                                 NaN       NaN
           2                                                 NaN     Apr-2
           3                                                 NaN       NaN
           4                                                 NaN         -
           5                                                 NaN       NaN
           6                                                 NaN     Mar-3
           7                                                 NaN       NaN
           8                                                 NaN         -
           9                                                 NaN       NaN
           10                                                NaN     Apr-2
           11                                                NaN       NaN

              EndDate DepartCity DepartTime ArrivalCity ArrivalTime  Monday  \
Table 100  0   Mar-30        ATL     10:26a         ABY      11:23a     NaN
           1      NaN        NaN        NaN         NaN         NaN     NaN
           2    Apr-1        ATL     10:26a         ABY      11:25a     1.0
           3      NaN        NaN        NaN         NaN         NaN     NaN
           4    Mar-1        ATL     10:26a         ABY      11:28a     NaN
           5      NaN        NaN        NaN         NaN         NaN     NaN
           6        -        ATL     10:27a         ABY      11:33a     1.0
           7      NaN        NaN        NaN         NaN         NaN     NaN
           8        -        ATL     10:38a         ABY      11:34a     NaN
           9      NaN        NaN        NaN         NaN         NaN     NaN
           10       -        ATL      2:55p         ABY       3:49p     1.0
           11     NaN        NaN        NaN         NaN         NaN     NaN
           12   Apr-1        ATL      3:05p         ABY       4:00p     1.0
           13     NaN        NaN        NaN         NaN         NaN     NaN
           14   Mar-1        ATL      3:34p         ABY       4:30p     NaN
           15     NaN        NaN        NaN         NaN         NaN     NaN
           16       -        ATL      7:00p         ABY       7:54p     NaN
           17     NaN        NaN        NaN         NaN         NaN     NaN
           18  Mar-30        ATL      7:03p         ABY       7:58p     NaN
           19     NaN        NaN        NaN         NaN         NaN     NaN
           20   Apr-1        ATL      9:23p         ABY      10:20p     1.0
           21     NaN        NaN        NaN         NaN         NaN     NaN
           22       -        ATL      9:24p         ABY      10:20p     1.0
           23     NaN        NaN        NaN         NaN         NaN     NaN
           24   Mar-1        ATL      9:29p         ABY      10:25p     NaN
           25     NaN        NaN        NaN         NaN         NaN     NaN
Table 1000 0   Mar-30        CVG      8:55a         TPA      11:02a     NaN
           1    Mar-1        CVG      8:59a         TPA      11:15a     NaN
           2        -        CVG      9:00a         TPA      11:01a     NaN
           3        -        CVG      9:00a         TPA      11:03a     1.0
...               ...        ...        ...         ...         ...     ...
Table 996  2    Apr-1        CVG      8:10a         SLC      10:12a     1.0
           3        -        CVG      8:15a         SLC      10:09a     NaN
           4        -        CVG      8:15a         SLC      10:12a     1.0
           5    Mar-5        CVG      2:55p         SLC       4:50p     NaN
           6        -        CVG      5:20p         SLC       7:10p     1.0
           7   Mar-30        CVG      5:20p         SLC       7:15p     NaN
           8   Mar-11        CVG      5:20p         SLC       7:18p     1.0
           9    Apr-1        CVG      5:20p         SLC       7:18p     1.0
Table 997  0    Apr-1        CVG      7:20a         SFO      10:02a     1.0
           1   Mar-30        CVG      7:34a         SFO      10:02a     NaN
           2    Mar-1        CVG      7:49a         SFO      10:10a     NaN
           3        -        CVG      7:50a         SFO       9:59a     NaN
           4        -        CVG      7:50a         SFO      10:02a     1.0
Table 998  0        -        CVG      6:25a         SEA       8:47a     NaN
           1   Mar-30        CVG      6:26a         SEA       8:41a     NaN
           2    Apr-1        CVG      6:26a         SEA       8:47a     1.0
           3        -        CVG      6:30a         SEA       8:59a     1.0
           4    Mar-1        CVG      6:41a         SEA       9:00a     NaN
Table 999  0    Apr-1        CVG     11:20a         STL      11:38a     1.0
           1      NaN        NaN        NaN         NaN         NaN     NaN
           2        -        CVG     11:30a         STL      11:46a     1.0
           3      NaN        NaN        NaN         NaN         NaN     NaN
           4    Mar-1        CVG     11:35a         STL      11:59a     NaN
           5      NaN        NaN        NaN         NaN         NaN     NaN
           6    Apr-1        CVG      8:22p         STL       8:38p     1.0
           7      NaN        NaN        NaN         NaN         NaN     NaN
           8    Mar-1        CVG      8:25p         STL       8:45p     NaN
           9      NaN        NaN        NaN         NaN         NaN     NaN
           10       -        CVG      8:35p         STL       8:44p     1.0
           11     NaN        NaN        NaN         NaN         NaN     NaN

               Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday  \
Table 100  0       NaN        NaN       NaN     NaN       6.0     NaN
           1       NaN        NaN       NaN     NaN       NaN     NaN
           2       2.0        3.0       4.0     5.0       NaN     7.0
           3       NaN        NaN       NaN     NaN       NaN     NaN
           4       NaN        NaN       NaN     5.0       NaN     NaN
           5       NaN        NaN       NaN     NaN       NaN     NaN
           6       2.0        3.0       4.0     5.0       NaN     7.0
           7       NaN        NaN       NaN     NaN       NaN     NaN
           8       NaN        NaN       NaN     NaN       6.0     NaN
           9       NaN        NaN       NaN     NaN       NaN     NaN
           10      2.0        3.0       4.0     5.0       NaN     7.0
           11      NaN        NaN       NaN     NaN       NaN     NaN
           12      2.0        3.0       4.0     5.0       NaN     7.0
           13      NaN        NaN       NaN     NaN       NaN     NaN
           14      NaN        NaN       NaN     5.0       NaN     NaN
           15      NaN        NaN       NaN     NaN       NaN     NaN
           16      NaN        NaN       NaN     NaN       6.0     NaN
           17      NaN        NaN       NaN     NaN       NaN     NaN
           18      NaN        NaN       NaN     NaN       6.0     NaN
           19      NaN        NaN       NaN     NaN       NaN     NaN
           20      2.0        3.0       4.0     5.0       NaN     7.0
           21      NaN        NaN       NaN     NaN       NaN     NaN
           22      2.0        3.0       4.0     5.0       NaN     7.0
           23      NaN        NaN       NaN     NaN       NaN     NaN
           24      NaN        NaN       NaN     5.0       NaN     NaN
           25      NaN        NaN       NaN     NaN       NaN     NaN
Table 1000 0       NaN        NaN       NaN     NaN       6.0     NaN
           1       NaN        NaN       NaN     5.0       NaN     NaN
           2       NaN        NaN       NaN     NaN       6.0     NaN
           3       2.0        3.0       4.0     5.0       NaN     7.0
...                ...        ...       ...     ...       ...     ...
Table 996  2       2.0        3.0       4.0     5.0       NaN     7.0
           3       NaN        NaN       NaN     NaN       6.0     NaN
           4       2.0        3.0       4.0     5.0       NaN     7.0
           5       2.0        NaN       NaN     NaN       NaN     NaN
           6       NaN        NaN       4.0     5.0       NaN     7.0
           7       NaN        NaN       NaN     NaN       6.0     NaN
           8       NaN        3.0       4.0     5.0       NaN     7.0
           9       2.0        3.0       4.0     5.0       NaN     7.0
Table 997  0       2.0        3.0       4.0     5.0       NaN     7.0
           1       NaN        NaN       NaN     NaN       6.0     NaN
           2       NaN        NaN       NaN     5.0       NaN     NaN
           3       NaN        NaN       NaN     NaN       6.0     NaN
           4       2.0        3.0       4.0     5.0       NaN     NaN
Table 998  0       NaN        NaN       NaN     NaN       6.0     NaN
           1       NaN        NaN       NaN     NaN       6.0     NaN
           2       2.0        NaN       NaN     5.0       NaN     NaN
           3       2.0        NaN       NaN     5.0       NaN     NaN
           4       NaN        NaN       NaN     5.0       NaN     NaN
Table 999  0       2.0        3.0       4.0     5.0       NaN     NaN
           1       NaN        NaN       NaN     NaN       NaN     NaN
           2       2.0        3.0       4.0     5.0       NaN     NaN
           3       NaN        NaN       NaN     NaN       NaN     NaN
           4       NaN        NaN       NaN     5.0       NaN     NaN
           5       NaN        NaN       NaN     NaN       NaN     NaN
           6       2.0        3.0       4.0     5.0       NaN     7.0
           7       NaN        NaN       NaN     NaN       NaN     NaN
           8       NaN        NaN       NaN     5.0       NaN     NaN
           9       NaN        NaN       NaN     NaN       NaN     NaN
           10      2.0        3.0       4.0     5.0       NaN     7.0
           11      NaN        NaN       NaN     NaN       NaN     NaN

                                                        Flight Aircraft  \
Table 100  0                                           DL3972*      CRJ
           1          Operated By Skywest Dba Delta Connection      NaN
           2                                           DL3972*      CRJ
           3          Operated By Skywest Dba Delta Connection      NaN
           4                                           DL3972*      CRJ
           5          Operated By Skywest Dba Delta Connection      NaN
           6                                           DL4166*      CRJ
           7          Operated By Skywest Dba Delta Connection      NaN
           8                                           DL4166*      CRJ
           9          Operated By Skywest Dba Delta Connection      NaN
           10                                          DL4191*      CRJ
           11         Operated By Skywest Dba Delta Connection      NaN
           12                                          DL4243*      CRJ
           13         Operated By Skywest Dba Delta Connection      NaN
           14                                          DL3975*      CRJ
           15         Operated By Skywest Dba Delta Connection      NaN
           16                                          DL4105*      CRJ
           17         Operated By Skywest Dba Delta Connection      NaN
           18                                          DL3988*      CRJ
           19         Operated By Skywest Dba Delta Connection      NaN
           20                                          DL3988*      CRJ
           21         Operated By Skywest Dba Delta Connection      NaN
           22                                          DL4105*      CRJ
           23         Operated By Skywest Dba Delta Connection      NaN
           24                                          DL3529*      CRJ
           25         Operated By Skywest Dba Delta Connection      NaN
Table 1000 0                                            DL0855      738
           1                                            DL0855      320
           2                                            DL0855      738
           3                                            DL0855      738
...                                                        ...      ...
Table 996  2                                            DL1618      739
           3                                            DL1618      738
           4                                            DL1618      738
           5                                            DL1123      738
           6                                            DL1123      319
           7                                            DL1123      739
           8                                            DL1123      738
           9                                            DL1123      738
Table 997  0                                            DL0745      739
           1                                            DL0745      739
           2                                            DL0745      739
           3                                            DL1746      739
           4                                            DL1746      739
Table 998  0                                            DL1734      738
           1                                            DL1712      738
           2                                            DL1712      738
           3                                            DL1734      738
           4                                            DL1712      738
Table 999  0                                           DL5302*      CRJ
           1     Operated By Endeavor Air Dba Delta Connection      NaN
           2                                           DL3429*      CRJ
           3     Operated By Endeavor Air Dba Delta Connection      NaN
           4                                           DL5302*      CRJ
           5     Operated By Endeavor Air Dba Delta Connection      NaN
           6                                           DL6301*      CR7
           7   Operated By Gojet Airlines Dba Delta Connection      NaN
           8                                           DL5160*      CR9
           9     Operated By Endeavor Air Dba Delta Connection      NaN
           10                                          DL6200*      CR7
           11  Operated By Gojet Airlines Dba Delta Connection      NaN

                         Stops Duration
Table 100  0                 0   0h 57m
           1               NaN      NaN
           2                 0   0h 59m
           3               NaN      NaN
           4                 0   1h 02m
           5               NaN      NaN
           6                 0   0h 58m
           7               NaN      NaN
           8                 0   0h 56m
           9               NaN      NaN
           10                0   0h 54m
           11              NaN      NaN
           12                0   0h 55m
           13              NaN      NaN
           14                0   0h 56m
           15              NaN      NaN
           16                0   0h 54m
           17              NaN      NaN
           18                0   0h 55m
           19              NaN      NaN
           20                0   0h 57m
           21              NaN      NaN
           22                0   0h 56m
           23              NaN      NaN
           24                0   0h 56m
           25              NaN      NaN
Table 1000 0                 0   2h 07m
           1   Operated By KLM   2h 16m
           2                 0   2h 01m
           3                 0   2h 03m
...                        ...      ...
Table 996  2                 0   4h 02m
           3                 0   3h 54m
           4                 0   3h 57m
           5                 0   3h 55m
           6                 0   3h 50m
           7                 0   3h 55m
           8                 0   3h 58m
           9                 0   3h 58m
Table 997  0                 0   5h 31m
           1   Operated By KLM   5h 28m
           2                 0   5h 21m
           3                 0   5h 09m
           4                 0   5h 12m

In [ ]:
#reset row numbers; remove multi-indexing
dfConcat = dfConcat.reset_index(drop=True)

In [6]:
#replace unknown values with 0 
dfConcat = dfConcat.fillna(0)

In [7]:
#drop unneeded columns for our purposes
dfConcat.drop(columns=['Airport', 'Stops'], inplace = True)

In [8]:
#drop blank rows; if there is no arrival city, the row must be blank
dfConcat = dfConcat[dfConcat.ArrivalCity != 0.0]

In [9]:
#fill in out-of-range start and end dates based on time period of flight schedule (Mar 1 to April 15)
dfConcat.StartDate.replace(['-'], ['Mar-1'], inplace=True)
dfConcat.EndDate.replace(['-'], ['Apr-15'], inplace=True)

In [10]:
#replace operative days of week with value of 1 for consistency
# 1 = flight is operated on that day of week
dfConcat.Tuesday.replace([2.0], [1], inplace=True)
dfConcat.Wednesday.replace([3.0], [1], inplace=True)
dfConcat.Thursday.replace([4.0], [1], inplace=True)
dfConcat.Friday.replace([5.0], [1], inplace=True)
dfConcat.Saturday.replace([6.0], [1], inplace=True)
dfConcat.Sunday.replace([7.0], [1], inplace=True)

In [20]:
#remove hyphens in dates
dfConcat['StartDate'] = dfConcat['StartDate'].str.replace('-',' ')
dfConcat['EndDate'] = dfConcat['EndDate'].str.replace('-',' ')

In [25]:
#remove stars in flight names
dfConcat['Flight'] = dfConcat['Flight'].str.replace('*','')

In [32]:
#remove +1 in times
dfConcat['DepartTime'] = dfConcat['DepartTime'].str.replace('\+1','')
dfConcat['ArrivalTime'] = dfConcat['ArrivalTime'].str.replace('\+1','')

In [33]:
#updated dataFrame
dfConcat

,StartDate,EndDate,DepartCity,DepartTime,ArrivalCity,ArrivalTime,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Flight,Aircraft,Duration
0,Mar 2,Mar 30,ATL,10:26a,ABY,11:23a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL3972,CRJ,0h 57m
1,Mar 3,Apr 1,ATL,10:26a,ABY,11:25a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL3972,CRJ,0h 59m
2,Mar 1,Mar 1,ATL,10:26a,ABY,11:28a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL3972,CRJ,1h 02m
3,Apr 2,Apr 15,ATL,10:27a,ABY,11:33a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL4166,CRJ,0h 58m
4,Apr 6,Apr 15,ATL,10:38a,ABY,11:34a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL4166,CRJ,0h 56m
5,Apr 2,Apr 15,ATL,2:55p,ABY,3:49p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL4191,CRJ,0h 54m
6,Mar 3,Apr 1,ATL,3:05p,ABY,4:00p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL4243,CRJ,0h 55m
7,Mar 1,Mar 1,ATL,3:34p,ABY,4:30p,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL3975,CRJ,0h 56m
8,Apr 6,Apr 15,ATL,7:00p,ABY,7:54p,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL4105,CRJ,0h 54m
9,Mar 2,Mar 30,ATL,7:03p,ABY,7:58p,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL3988,CRJ,0h 55m
10,Mar 3,Apr 1,ATL,9:23p,ABY,10:20p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL3988,CRJ,0h 57m
11,Apr 2,Apr 15,ATL,9:24p,ABY,10:20p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL4105,CRJ,0h 56m
12,Mar 1,Mar 1,ATL,9:29p,ABY,10:25p,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL3529,CRJ,0h 56m
13,Mar 2,Mar 30,CVG,8:55a,TPA,11:02a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL0855,738,2h 07m
14,Mar 1,Mar 1,CVG,8:59a,TPA,11:15a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL0855,320,2h 16m
15,Apr 6,Apr 15,CVG,9:00a,TPA,11:01a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL0855,738,2h 01m
16,Apr 2,Apr 15,CVG,9:00a,TPA,11:03a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL0855,738,2h 03m
17,Mar 3,Apr 1,CVG,9:00a,TPA,11:08a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL0855,738,2h 08m
18,Mar 2,Mar 30,CVG,11:00a,TPA,1:12p,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL3344,CR9,2h 12m
19,Mar 4,Apr 1,CVG,7:00a,YYZ,8:43a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL5489,CRJ,1h 43m
20,Apr 2,Apr 15,CVG,4:10p,YYZ,5:48p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL5488,CRJ,1h 38m
21,Mar 1,Mar 1,CVG,7:00a,DCA,8:38a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL5074,CR9,1h 38m
22,Apr 2,Apr 15,CVG,7:15a,DCA,8:42a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL5074,CR9,1h 27m
23,Mar 4,Apr 1,CVG,7:15a,DCA,8:45a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL5074,CR9,1h 30m
24,Mar 2,Mar 30,CVG,8:00a,DCA,9:22a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL5074,CR9,1h 22m
25,Apr 6,Apr 15,CVG,8:30a,DCA,9:52a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL5074,CR9,1h 22m
26,Mar 1,Mar 1,CVG,12:24p,DCA,1:48p,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL5071,CR9,1h 24m
27,Apr 6,Apr 15,CVG,12:43p,DCA,2:24p,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL5225,CR9,1h 41m
28,Apr 2,Apr 15,CVG,12:43p,DCA,2:26p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL5225,CR9,1h 43m
29,Mar 3,Apr 1,CVG,12:49p,DCA,2:13p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL5071,CR9,1h 24m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29222,Apr 6,Apr 15,CVG,9:00a,RDU,10:17a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL3429,CRJ,1h 17m
29223,Mar 2,Mar 30,CVG,9:00a,RDU,10:20a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL3337,CRJ,1h 20m
29224,Apr 2,Apr 15,CVG,4:00p,RDU,5:22p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL3450,CR9,1h 22m
29225,Mar 3,Apr 1,CVG,4:27p,RDU,5:45p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL5168,CR9,1h 18m
29226,Mar 1,Mar 1,CVG,8:00a,SLC,10:07a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL1618,738,4h 07m
29227,Mar 2,Mar 30,CVG,8:10a,SLC,10:09a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1618,739,3h 59m
29228,Mar 3,Apr 1,CVG,8:10a,SLC,10:12a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL1618,739,4h 02m
29229,Apr 6,Apr 15,CVG,8:15a,SLC,10:09a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1618,738,3h 54m
29230,Apr 2,Apr 15,CVG,8:15a,SLC,10:12a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL1618,738,3h 57m
29231,Mar 5,Mar 5,CVG,2:55p,SLC,4:50p,0.0,1.0,0.0,0.0,0.0,0.0,0.0,DL1123,738,3h 55m
29232,Apr 4,Apr 15,CVG,5:20p,SLC,7:10p,1.0,0.0,0.0,1.0,1.0,0.0,1.0,DL1123,319,3h 50m
29233,Mar 2,Mar 30,CVG,5:20p,SLC,7:15p,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1123,739,3h 55m
29234,Mar 3,Mar 11,CVG,5:20p,SLC,7:18p,1.0,0.0,1.0,1.0,1.0,0.0,1.0,DL1123,738,3h 58m
29235,Mar 12,Apr 1,CVG,5:20p,SLC,7:18p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL1123,738,3h 58m
29236,Mar 3,Apr 1,CVG,7:20a,SFO,10:02a,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL0745,739,5h 31m
29237,Mar 2,Mar 30,CVG,7:34a,SFO,10:02a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL0745,739,5h 28m
29238,Mar 1,Mar 1,CVG,7:49a,SFO,10:10a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL0745,739,5h 21m
29239,Apr 6,Apr 15,CVG,7:50a,SFO,9:59a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1746,739,5h 09m
29240,Apr 2,Apr 15,CVG,7:50a,SFO,10:02a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL1746,739,5h 12m
29241,Apr 6,Apr 15,CVG,6:25a,SEA,8:47a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1734,738,5h 22m
29242,Mar 2,Mar 30,CVG,6:26a,SEA,8:41a,0.0,0.0,0.0,0.0,0.0,1.0,0.0,DL1712,738,5h 15m
29243,Mar 4,Apr 1,CVG,6:26a,SEA,8:47a,1.0,1.0,0.0,0.0,1.0,0.0,0.0,DL1712,738,5h 21m
29244,Apr 2,Apr 15,CVG,6:30a,SEA,8:59a,1.0,1.0,0.0,0.0,1.0,0.0,0.0,DL1734,738,5h 29m
29245,Mar 1,Mar 1,CVG,6:41a,SEA,9:00a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL1712,738,5h 19m
29246,Mar 4,Apr 1,CVG,11:20a,STL,11:38a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL5302,CRJ,1h 18m
29247,Apr 2,Apr 15,CVG,11:30a,STL,11:46a,1.0,1.0,1.0,1.0,1.0,0.0,0.0,DL3429,CRJ,1h 16m
29248,Mar 1,Mar 1,CVG,11:35a,STL,11:59a,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL5302,CRJ,1h 24m
29249,Mar 3,Apr 1,CVG,8:22p,STL,8:38p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL6301,CR7,1h 16m
29250,Mar 1,Mar 1,CVG,8:25p,STL,8:45p,0.0,0.0,0.0,0.0,1.0,0.0,0.0,DL5160,CR9,1h 20m
29251,Apr 2,Apr 15,CVG,8:35p,STL,8:44p,1.0,1.0,1.0,1.0,1.0,0.0,1.0,DL6200,CR7,1h 09m

In [40]:
#dfConcat.to_excel('flightSchedDataFrame.xlsx', sheet_name = 'FlightSchedule')

output = open('flightSchedDataFrame.xlsx', 'wb')
dfConcat.to_excel(output, sheet_name = "FlightSchedule")
output.close()